table, tr {
    width: 100%;
    height: 50px;
}

.stars {
    background-image: url(easy.jpg);
    width: 31.5%;
    height: auto;
}

tr {
    height: 50px;
}

tr:nth-child(odd) {
    background-color: red;
}